#wrapper{font-family: nanum-gothic;}
@media (max-width: 1250px) {#wrapper {font-family: nanum-gothic; width: 1250px;} }

#wrapper .x-line {display: flex; justify-content: center; margin-top: 80px; margin-bottom: 80px;}

#wrapper .header-wrapper {display: flex; justify-content: center; border-bottom: 1px solid #B0B0B0; padding-bottom:6px;}
#wrapper .header-wrapper .navigation-bar{width: 1200px; height: 30px; display: flex; justify-content: space-between;}
#wrapper .header-wrapper .navigation-bar .top-logo{width: 100px;}
#wrapper .header-wrapper .navigation-bar .top-logo img{float:left;}
#wrapper .header-wrapper .navigation-bar .navbar-inner {width: 780px;}
#wrapper .header-wrapper .navigation-bar .navbar-inner .navbar-lists{display: flex; justify-content: space-between;}
#wrapper .header-wrapper .navigation-bar .navbar-inner .navbar-lists .topmenu-list a{text-decoration: none; color: #B0B0B0;}
#wrapper .header-wrapper .navigation-bar .navbar-inner .navbar-lists .topmenu-list .active{color: black; border-bottom:1px solid #F93E3F; padding-bottom:15px; font-weight: bold;}

#wrapper .body-wrapper {display: flex; justify-content: center;}
#wrapper .body-wrapper .body1 {margin-top: 100px; width: 1200px; display: flex; justify-content: space-between;}
#wrapper .body-wrapper .body1 .body1-picture {width: 680px;}
#wrapper .body-wrapper .body1 .body1-contents {display: flex; align-items: flex-end;}
#wrapper .body-wrapper .body1 .body1-contents .body1-contents-wrapper {width:490px; height: 340px;}
#wrapper .body-wrapper .body1 .body1-contents .body1-contents-wrapper .date{color: #C2C2C2; font-size: 15px;}
#wrapper .body-wrapper .body1 .body1-contents .body1-contents-wrapper .album-number {font-weight: bold; font-size: 30px; margin-top: 25px;}
#wrapper .body-wrapper .body1 .body1-contents .body1-contents-wrapper .album-artist {color: #FA4043; font-size: 30px;}
#wrapper .body-wrapper .body1 .body1-contents .body1-contents-wrapper .contexts {color: #3B3B3B; font-size: 17px; margin-top: 8px;}
#wrapper .body-wrapper .body1 .body1-contents .body1-contents-wrapper .body1-img {display: flex; justify-content: flex-start; margin-top: 30px;}
#wrapper .body-wrapper .body1 .body1-contents .body1-contents-wrapper .body1-img .body1-img-wrapper  {position: relative; margin-right: 13px;}
#wrapper .body-wrapper .body1 .body1-contents .body1-contents-wrapper .body1-img .body1-img-wrapper > div {position: absolute;}
#wrapper .body-wrapper .body1 .body1-contents .body1-contents-wrapper .body1-img .body1-img-wrapper .normal {display: block;}
#wrapper .body-wrapper .body1 .body1-contents .body1-contents-wrapper .body1-img .body1-img-wrapper .selected {display: none;}

#wrapper .body-wrapper .body2 {width: 1200px; display: flex;}
#wrapper .body-wrapper .body2 .body2-left {width: 170px; font-weight: bold; margin-top: 15px;}
#wrapper .body-wrapper .body2 .body2-right {width: 1000px;}
#wrapper .body-wrapper .body2 .body2-right .body2-right-wrapper {display: flex;}
#wrapper .body-wrapper .body2 .body2-right .body2-right-wrapper .body2-right-year {color: #F74140; width: 150px; font-weight: bold;}
#wrapper .body-wrapper .body2 .body2-right .body2-right-wrapper .body2-right-contents #woogotsa {margin-top: 15px;}
#wrapper .body-wrapper .body2 .body2-right .body2-right-wrapper .body2-right-contents .gray-context {color: #A7A7A7;}

#wrapper .body-wrapper .video-wrapper {width: 1200px; display: flex; justify-content: space-between;}

#wrapper .footer {background-color: black; display: flex; justify-content: center; margin-top: 80px;}
#wrapper .footer .footer-wrapper {width:1170px; height: 300px;}
#wrapper .footer .footer-wrapper .footer-top {width:1170px; display: flex; justify-content: space-between; margin-top: 50px; margin-bottom: 50px;}
#wrapper .footer .footer-wrapper .footer-top .info-left span a{color: #878787; text-decoration: none; font-weight: bold;}
#wrapper .footer .footer-wrapper .footer-top .info-left span{color: #878787;}
#wrapper .footer .footer-wrapper .footer-top .info-right div{float:right;}
#wrapper .footer .footer-wrapper .footer-bottom div {color:#878787; font-size: 12px;}
#wrapper .footer .footer-wrapper .footer-bottom > div {margin-top: 10px;}
#wrapper .footer .footer-wrapper .footer-bottom .footer-flex {display: flex; justify-content: space-between;}
