#wrapper{font-family: nanum-gothic;}
@media (max-width: 1250px) {#wrapper {font-family: nanum-gothic; width: 1250px;} }


#wrapper .main-banner {width: 100%; height: 100vh; background-repeat: no-repeat; background-image: url("../img/PNG/main-bg.png"); background-size: contain;display: flex; justify-content: center;}
#wrapper .main-banner .topmenu {width: 1200px; height: 30px; display: flex; justify-content: space-between; padding-top: 20px;}
#wrapper .main-banner .topmenu .main-logo{width: 100px; height: 30px;}
#wrapper .main-banner .topmenu .topmenu-bar {width: 780px; height: 30px; display: flex; justify-content: space-between;}
#wrapper .main-banner .topmenu .topmenu-bar .topmenu-lists a{text-decoration: none; color: #67686A;}
#wrapper .main-banner .topmenu .topmenu-bar .topmenu-lists .active{color: #F93E3F; border-bottom:1px solid #F93E3F; padding-bottom:15px; font-weight: bold;}
#wrapper .main-banner .topmenu .main-top-menu{width: 100px; height: 30px;}
#wrapper .main-banner .topmenu .main-top-menu img{float:right;}

#wrapper .main-banner .top-buttons {position: absolute; width: 1200px; float:left; top:35%;}
#wrapper .main-banner .top-buttons .main-explanations {width: 500px; height: 120px;}
#wrapper .main-banner .top-buttons .main-explanations div {color: white; font-size: 46px;}
#wrapper .main-banner .top-buttons .main-explanations .second-explanation {display: flex; position: relative;}
#wrapper .main-banner .top-buttons .main-explanations .second-explanation #artistname {font-weight: bold; position: absolute; top:-13px;}
#wrapper .main-banner .top-buttons .main-explanations .second-explanation #artist-img {position: absolute; top:-6px; left:350px;}
#wrapper .main-banner .top-buttons .main-btns {display: flex; justify-content: space-between;}
#wrapper .main-banner .top-buttons .main-btns .btn-right {width: 64px;}
#wrapper .main-banner .top-buttons .main-btns .btn-right div {position: relative; height: 70px;}
#wrapper .main-banner .top-buttons .main-btns .btn-right div div {position: absolute;}
#wrapper .main-banner .top-buttons .main-btns .btn-right .normal {display: block;}
#wrapper .main-banner .top-buttons .main-btns .btn-right .selected {display: none;}

#wrapper .about {display: flex; justify-content: center; margin-top: 70px;}
#wrapper .about .about-wrapper {width:1200px; display: flex; justify-content: center; position: relative;}
#wrapper .about .about-wrapper .notice {position: absolute; left:0%; font-weight: bold;}
#wrapper .about .about-wrapper .notice > div {margin-top: 25px;}
#wrapper .about .about-wrapper .notice img{margin-top: 100px;}
#wrapper .about .about-wrapper .context {width: 920px;}
#wrapper .context-header {color: #FC807E; font-size: 26px;}

#wrapper .x-line {display: flex; justify-content: center; margin-top: 80px; margin-bottom: 80px;}
#wrapper .title {font-size: 46px; font-weight: bold;}
#wrapper .artists {text-align: center;}
#wrapper .artists .pictures {width: 100%; height: 560px; display:flex; justify-content: space-between;}
#wrapper .artists .pictures .pictures-wrapper {width: 23%; position: relative;}
#wrapper .artists .pictures .pictures-wrapper div img {position: absolute; top:0; left: 0; width: 100%; height: 100%;}
#wrapper .artists .pictures .pictures-wrapper .pictures-selected {display: none;}

#wrapper .artists .title{margin-bottom: 80px;}
#wrapper .artists .release {display: flex; justify-content: center;}
#wrapper .artists .release .release-wrapper {width: 1200px; display: flex; justify-content: space-between;}
#wrapper .artists .release .release-wrapper .release-contents {text-align: left;}
#wrapper .artists .release .release-wrapper .release-contents .artist-name {margin-top: 5px; margin-left: 10px; font-weight: bold;}


#wrapper .about-inform {text-align: center; font-size: 46px; font-weight: bold;}
#wrapper .information {display: flex; justify-content: center;}
#wrapper .information .information-wrapper {width: 1200px; display: flex; justify-content: space-between;}
#wrapper .information .information-wrapper .information-contents .information-title {font-weight: bold; margin-top: 20px;}
#wrapper .information .information-wrapper .information-contents .information-contexts {color: #8E8E8E;}

#wrapper .footer {background-color: black; display: flex; justify-content: center; margin-top: 80px;}
#wrapper .footer .footer-wrapper {width:1200px; height: 300px;}
#wrapper .footer .footer-wrapper .footer-top {width:1200px; display: flex; justify-content: space-between; margin-top: 50px; margin-bottom: 50px;}
#wrapper .footer .footer-wrapper .footer-top .info-left span a{color: #878787; text-decoration: none; font-weight: bold;}
#wrapper .footer .footer-wrapper .footer-top .info-left span{color: #878787;}
#wrapper .footer .footer-wrapper .footer-top .info-right div{float:right;}
#wrapper .footer .footer-wrapper .footer-bottom div {color:#878787; font-size: 12px;}
#wrapper .footer .footer-wrapper .footer-bottom > div {margin-top: 10px;}
#wrapper .footer .footer-wrapper .footer-bottom .footer-flex {display: flex; justify-content: space-between;}
